body{
	background-color:#000077;
	text-align:center;
}
a{
	color:#ffffff;
	text-decoration:none;
	font-weight:700;
}
h1, h2 {
	text-align:center;
	color:#00ffff;
}

nav{ 
	display:block;
	justify-content:center;
}
ul{
	list-style-type:none;
}
.navlinks{
	display:block;
	list-style-type:none;
	padding:7px;
	height:40px;
	width:20%;
	padding-left:0pt;
	font-size:250%;
	float:left;
	text-align:center;
	overflow:hidden;
	background-color:#00dd00;
	position:relative;
	left:27%;
} 
nav li:hover{
	background-color:#0014ff;
	color:#00dd00;
}
a:hover{
	background-color:#0014ff;
	color:white;
}
#logo{
	height:200px;
	width:200px;
	position:absolute;
	left:0%;
	top:5%;
}
.content{
	color:#f4ffff;
	margin:10%;
	font-size:200%;
	font-weight:600;
}
#place{
	position:absolute;
	top:90%;
	left:10%;
	height:40px;
	width:60%;
	font-size:35px;
}
#submit{
	position:absolute;
	top:90%;
	left:75%;
	height:35px;
	width:175px;
	font-size:30px;
}

#com{
	position:absolute;
	top:36%;
	left:10%;
	font-size:50px;
   	color:white;
	overflow:scroll;
	height:280px;
}
#ply{
	position:absolute;
	top:26%;
	left:55%;
	font-size:50px;
	color:#44ee00;
	overflow:scroll;
	height:280px;
}
#com::-webkit-scrollbar{
	display:none;}
#com{
	-ms-overflow-style:none;
	scrollbar-width:none;}
#ply::-webkit-scrollbar{
	display:none;}
#ply{
	-ms-overflow-style:none;
	scrollbar-width:none;}
#info{
	position:absolute;
	top:475px;
	left:150px;
	font-size:45px;
	color:#66cc44;
}
#scorecard{
	position:absolute;
	top:175px;
	left:75%;
	font-size:45px;
	color:#f8fc00;
}

#tab
{
    position:absolute;
    top:36%;
    left:30%;
    color:#ff6600;
	overflow-y:scroll;
	height:300px;
    display:block;
}
#tab >tbody >tr >td
{
    padding-left:10px;
    font-size:50px;
    text-align:left;
    width:20%; 
}

#tab::-webkit-scrollbar{
	display:none;}
#tab{
	-ms-overflow-style:none;
	scrollbar-width:none;}
/* The alert message box */
.alert {
  visibility:hidden;
  padding: 5px;
  background-color: #00dd00; /* Red */
  color: #0014ff;
  margin-bottom: 15px;
  position:absolute;
  top:30%;
  left:12.5%;
  width:75%;
  font-size:40px;
  font-weight:600;
}

/* The close button */
.closebtn {
  position:absolute;
  top:30%;
  left:90%;
  margin-left: 15px;
  font-weight: bold;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  position:absolute;
  left:90%;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

#start{
    position:absolute;
    left:40%;
    top:45%;
    height:10%;
    width:20%;
    font-size:40px;
}
.points
{
    visibility:visible;
    position:absolute;
    left:75%;
    top:75%;
    background-color:#0014ff;
    color:white;
    font-size:30px;
    padding:10px;
}


