{% extends 'home/index.html' %}
{% load static  %}
{% block body %}

	<link rel="stylesheet" href="{% static "css/room/style.css" %}" >
<input type = "text" placeholder= "Name" id="name" >

<div id="code">Code will be here</div>
<button class="button" id="roombutton">Create Room</button>
<button class="button" id="join"> Click to Join</button>
<button class="button" id="joincode">Join with Code</button>

	<script>

		let url;
		document.getElementById("roombutton").onclick = function(e){
		let name=document.getElementById('name').innerHTML;	

		var randomChars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
		var result = '';
		for ( var i = 0; i < 5; i++ ) {
			result += randomChars.charAt(Math.floor(Math.random() * randomChars.length));
		}
		url = "ws://world-atlas-dj.herokuapp.com/room/"+result;
	        document.getElementById("code").innerHTML = result	
		
document.getElementById("join").onclick = function(e){
	location.replace(url)
}}



			
	</script>
{% endblock %}
