{% extends 'home/index.html' %}
{% load static  %}
{% block body %}


        <input type="text" id="place" autocomplete="off"/>
        <button id="submit" >Send ></button>
	<p id="ply"></p>
	<p id="scorecard"></p>
	<p id="info"></p>
	<!--
<textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
	-->
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"user_username" }}
	<script> 
const user_username = JSON.parse(document.getElementById("user_username").textContent);
const roomName = JSON.parse(document.getElementById('room-name').textContent);
const messageInputDom = document.querySelector('#place');
let plc,place,pt=0;
const chatSocket = new WebSocket('wss://' + window.location.host + '/room/'+ roomName + '/');

chatSocket.onmessage = function(e) {
    const data = JSON.parse(e.data);
	let url = "http://world-atlas.herokuapp.com/api/" + data["message"];
    fetch(url, {
	    method: 'GET',
	    headers:{
		    'Accept': 'application/json',
	    },
    })
.then(response => {
	return response.json()
})
.then(data => {
	console.log(data)
})
			    
if (document.querySelector('#place').value !== data.message){
    messageInputDom.value = '';
    messageInputDom.disabled = false;
}
    document.querySelector('#ply').innerHTML += (data.username + ': ' + data.message + '<br >');
	place = data.message;
	console.log(place[place.length-1])
	plc = place[place.length-1];
};

chatSocket.onclose = function(e) {
    console.error('Chat socket closed unexpectedly');
};

document.querySelector('#place').focus();
document.querySelector('#place').onkeyup = function(e) {
    if (e.keyCode === 13) {  // enter, return
	document.querySelector('#submit').click();
    }
};

document.querySelector('#submit').onclick = function(e) {
    const messageInputDom = document.querySelector('#place');
    const message = messageInputDom.value;

    chatSocket.send(JSON.stringify({
	'message': message,
	'username': user_username,
    }));
	messageInputDom.disabled = true;	
};
//
document.getElementById("scorecard").innerHTML = 'Score = '+pt;
    </script>
{% endblock %}

