#botbutton{
    position:absolute;
    top:45%;
    left:45%;
    width:3.5em;
    height:1.5em;
    font-size:2.3em;
    text-align:center;
    text-decoration: none;
    background-color:#00dd11;
    color:#0002dd;
}
#or{
    position:absolute;
    top:47%;
    left:48.5%;
    color:white;
    font-size:2.3em;
}    
#multp{
    position:absolute;
    top:60%;
    left:42.5%;
    width:5.5em;
    height:1.5em;
    font-size:2.3em;
    text-align:center;
    text-decoration: none;
    background-color:#00dd11;
    color:#0002dd;
}

#botbutton:hover{
	background-color:#0002dd;
	color:#00dd11;
}

#multp:hover{
	background-color:#0002dd;
	color:#00dd11;
}
